{"swagger": "2.0", "info": {"title": "Pulp 3 API", "license": {"name": "GPLv2+"}, "logo": {"url": "https://pulp.plan.io/attachments/download/517478/pulp_logo_word_rectangle.svg"}, "version": "v3"}, "host": "pulp3.mgmtdev.inuits.eu:24817", "schemes": ["http"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/pulp/api/v3/artifacts/": {"get": {"operationId": "artifacts_list", "summary": "List artifacts", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "md5", "in": "query", "description": "Filter results where md5 matches value", "required": false, "type": "string"}, {"name": "sha1", "in": "query", "description": "Filter results where sha1 matches value", "required": false, "type": "string"}, {"name": "sha224", "in": "query", "description": "Filter results where sha224 matches value", "required": false, "type": "string"}, {"name": "sha256", "in": "query", "description": "Filter results where sha256 matches value", "required": false, "type": "string"}, {"name": "sha384", "in": "query", "description": "Filter results where sha384 matches value", "required": false, "type": "string"}, {"name": "sha512", "in": "query", "description": "Filter results where sha512 matches value", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ArtifactRead"}}}}}}, "tags": ["artifacts"]}, "post": {"operationId": "artifacts_create", "summary": "Create an artifact", "description": "", "parameters": [{"name": "file", "in": "formData", "description": "The stored file.", "required": true, "type": "file"}, {"name": "size", "in": "formData", "description": "The size of the file in bytes.", "required": false, "type": "integer"}, {"name": "md5", "in": "formData", "description": "The MD5 checksum of the file if available.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}, {"name": "sha1", "in": "formData", "description": "The SHA-1 checksum of the file if available.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}, {"name": "sha224", "in": "formData", "description": "The SHA-224 checksum of the file if available.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}, {"name": "sha256", "in": "formData", "description": "The SHA-256 checksum of the file if available.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}, {"name": "sha384", "in": "formData", "description": "The SHA-384 checksum of the file if available.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}, {"name": "sha512", "in": "formData", "description": "The SHA-512 checksum of the file if available.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ArtifactRead"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["artifacts"]}, "parameters": []}, "{artifact_href}": {"get": {"operationId": "artifacts_read", "summary": "Inspect an artifact", "description": "", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ArtifactRead"}}}, "tags": ["artifacts"]}, "delete": {"operationId": "artifacts_delete", "summary": "Delete an artifact", "description": "Remove Artifact only if it is not associated with any Content.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["artifacts"]}, "parameters": [{"name": "artifact_href", "in": "path", "description": "URI of Artifact. e.g.: /pulp/api/v3/artifacts/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/advisories/": {"get": {"operationId": "content_rpm_advisories_list", "summary": "List update records", "description": "Define endpoint name which will appear in the API endpoint for this content type.\nFor example::\n    http://pulp.example.com/pulp/api/v3/content/rpm/advisories/\n\nAlso specify queryset and serializer for UpdateRecord.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "id", "in": "query", "description": "Filter results where id matches value", "required": false, "type": "string"}, {"name": "id__in", "in": "query", "description": "Filter results where id is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "Filter results where status matches value", "required": false, "type": "string"}, {"name": "status__in", "in": "query", "description": "Filter results where status is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "status__ne", "in": "query", "description": "Filter results where status not equal to value", "required": false, "type": "string"}, {"name": "severity", "in": "query", "description": "Filter results where severity matches value", "required": false, "type": "string"}, {"name": "severity__in", "in": "query", "description": "Filter results where severity is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "severity__ne", "in": "query", "description": "Filter results where severity not equal to value", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "Filter results where type matches value", "required": false, "type": "string"}, {"name": "type__in", "in": "query", "description": "Filter results where type is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "type__ne", "in": "query", "description": "Filter results where type not equal to value", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.UpdateRecordRead"}}}}}}, "tags": ["content: advisories"]}, "post": {"operationId": "content_rpm_advisories_create", "summary": "Create an update record", "description": "Trigger an asynchronous task to create content,optionally create new repository version.", "parameters": [{"name": "file", "in": "formData", "description": "An uploaded file that may be turned into the artifact of the content unit.", "required": false, "type": "file"}, {"name": "repository", "in": "formData", "description": "A URI of a repository the new content unit should be associated with.", "required": false, "type": "string", "format": "uri"}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["content: advisories"]}, "parameters": []}, "{update_record_href}": {"get": {"operationId": "content_rpm_advisories_read", "summary": "Inspect an update record", "description": "Define endpoint name which will appear in the API endpoint for this content type.\nFor example::\n    http://pulp.example.com/pulp/api/v3/content/rpm/advisories/\n\nAlso specify queryset and serializer for UpdateRecord.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.UpdateRecordRead"}}}, "tags": ["content: advisories"]}, "parameters": [{"name": "update_record_href", "in": "path", "description": "URI of Update Record. e.g.: /pulp/api/v3/content/rpm/advisories/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/distribution_trees/": {"get": {"operationId": "content_rpm_distribution_trees_list", "summary": "List distribution trees", "description": "Distribution Tree Viewset.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.DistributionTreeRead"}}}}}}, "tags": ["content: distribution_trees"]}, "parameters": []}, "{distribution_tree_href}": {"get": {"operationId": "content_rpm_distribution_trees_read", "summary": "Inspect a distribution tree", "description": "Distribution Tree Viewset.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.DistributionTreeRead"}}}, "tags": ["content: distribution_trees"]}, "delete": {"operationId": "content_rpm_distribution_trees_delete", "summary": "Delete a distribution tree", "description": "Distribution Tree Viewset.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["content: distribution_trees"]}, "parameters": [{"name": "distribution_tree_href", "in": "path", "description": "URI of Distribution Tree. e.g.: /pulp/api/v3/content/rpm/distribution_trees/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/modulemd_defaults/": {"get": {"operationId": "content_rpm_modulemd_defaults_list", "summary": "List modulemd defaultss", "description": "ViewSet for Modulemd.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "module", "in": "query", "description": "Filter results where module matches value", "required": false, "type": "string"}, {"name": "module__in", "in": "query", "description": "Filter results where module is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "stream", "in": "query", "description": "Filter results where stream matches value", "required": false, "type": "string"}, {"name": "stream__in", "in": "query", "description": "Filter results where stream is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "sha256", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.ModulemdDefaultsRead"}}}}}}, "tags": ["content: modulemd_defaults"]}, "post": {"operationId": "content_rpm_modulemd_defaults_create", "summary": "Create a modulemd defaults", "description": "Trigger an asynchronous task to create content,optionally create new repository version.", "parameters": [{"name": "artifact", "in": "formData", "description": "Artifact file representing the physical content", "required": false, "type": "string", "format": "uri"}, {"name": "relative_path", "in": "formData", "description": "Path where the artifact is located relative to distributions base_path", "required": true, "type": "string", "minLength": 1}, {"name": "file", "in": "formData", "description": "An uploaded file that may be turned into the artifact of the content unit.", "required": false, "type": "file"}, {"name": "repository", "in": "formData", "description": "A URI of a repository the new content unit should be associated with.", "required": false, "type": "string", "format": "uri"}, {"name": "module", "in": "formData", "description": "Modulemd name.", "required": true, "type": "string", "minLength": 1}, {"name": "stream", "in": "formData", "description": "Modulemd default stream.", "required": true, "type": "string", "minLength": 1}, {"name": "profiles", "in": "formData", "description": "Default profiles for modulemd streams.", "required": true, "type": "string"}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["content: modulemd_defaults"]}, "parameters": []}, "{modulemd_defaults_href}": {"get": {"operationId": "content_rpm_modulemd_defaults_read", "summary": "Inspect a modulemd defaults", "description": "ViewSet for Modulemd.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.ModulemdDefaultsRead"}}}, "tags": ["content: modulemd_defaults"]}, "parameters": [{"name": "modulemd_defaults_href", "in": "path", "description": "URI of Modulemd Defaults. e.g.: /pulp/api/v3/content/rpm/modulemd_defaults/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/modulemds/": {"get": {"operationId": "content_rpm_modulemds_list", "summary": "List modulemds", "description": "ViewSet for Modulemd.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "Filter results where name matches value", "required": false, "type": "string"}, {"name": "name__in", "in": "query", "description": "Filter results where name is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "stream", "in": "query", "description": "Filter results where stream matches value", "required": false, "type": "string"}, {"name": "stream__in", "in": "query", "description": "Filter results where stream is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "sha256", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.ModulemdRead"}}}}}}, "tags": ["content: modulemds"]}, "post": {"operationId": "content_rpm_modulemds_create", "summary": "Create a modulemd", "description": "Trigger an asynchronous task to create content,optionally create new repository version.", "parameters": [{"name": "artifact", "in": "formData", "description": "Artifact file representing the physical content", "required": false, "type": "string", "format": "uri"}, {"name": "relative_path", "in": "formData", "description": "Path where the artifact is located relative to distributions base_path", "required": true, "type": "string", "minLength": 1}, {"name": "file", "in": "formData", "description": "An uploaded file that may be turned into the artifact of the content unit.", "required": false, "type": "file"}, {"name": "repository", "in": "formData", "description": "A URI of a repository the new content unit should be associated with.", "required": false, "type": "string", "format": "uri"}, {"name": "name", "in": "formData", "description": "Modulemd name.", "required": true, "type": "string", "minLength": 1}, {"name": "stream", "in": "formData", "description": "Stream name.", "required": true, "type": "string", "minLength": 1}, {"name": "version", "in": "formData", "description": "Modulemd version.", "required": true, "type": "string", "minLength": 1}, {"name": "context", "in": "formData", "description": "Modulemd context.", "required": true, "type": "string", "minLength": 1}, {"name": "arch", "in": "formData", "description": "Modulemd architecture.", "required": true, "type": "string", "minLength": 1}, {"name": "artifacts", "in": "formData", "description": "Modulemd artifacts.", "required": true, "type": "string"}, {"name": "dependencies", "in": "formData", "description": "Modulemd dependencies.", "required": true, "type": "string"}, {"name": "packages", "in": "formData", "description": "Modulemd artifacts' packages.", "required": false, "type": "array", "items": {"type": "string", "format": "uri", "x-nullable": true}, "uniqueItems": true}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["content: modulemds"]}, "parameters": []}, "{modulemd_href}": {"get": {"operationId": "content_rpm_modulemds_read", "summary": "Inspect a modulemd", "description": "ViewSet for Modulemd.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.ModulemdRead"}}}, "tags": ["content: modulemds"]}, "parameters": [{"name": "modulemd_href", "in": "path", "description": "URI of Modulemd. e.g.: /pulp/api/v3/content/rpm/modulemds/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/packagecategories/": {"get": {"operationId": "content_rpm_packagecategories_list", "summary": "List package categorys", "description": "PackageCategory ViewSet.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.PackageCategoryRead"}}}}}}, "tags": ["content: packagecategories"]}, "parameters": []}, "{package_category_href}": {"get": {"operationId": "content_rpm_packagecategories_read", "summary": "Inspect a package category", "description": "PackageCategory ViewSet.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.PackageCategoryRead"}}}, "tags": ["content: packagecategories"]}, "delete": {"operationId": "content_rpm_packagecategories_delete", "summary": "Delete a package category", "description": "PackageCategory ViewSet.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["content: packagecategories"]}, "parameters": [{"name": "package_category_href", "in": "path", "description": "URI of Package Category. e.g.: /pulp/api/v3/content/rpm/packagecategories/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/packageenvironments/": {"get": {"operationId": "content_rpm_packageenvironments_list", "summary": "List package environments", "description": "PackageEnvironment ViewSet.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.PackageEnvironmentRead"}}}}}}, "tags": ["content: packageenvironments"]}, "parameters": []}, "{package_environment_href}": {"get": {"operationId": "content_rpm_packageenvironments_read", "summary": "Inspect a package environment", "description": "PackageEnvironment ViewSet.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.PackageEnvironmentRead"}}}, "tags": ["content: packageenvironments"]}, "delete": {"operationId": "content_rpm_packageenvironments_delete", "summary": "Delete a package environment", "description": "PackageEnvironment ViewSet.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["content: packageenvironments"]}, "parameters": [{"name": "package_environment_href", "in": "path", "description": "URI of Package Environment. e.g.: /pulp/api/v3/content/rpm/packageenvironments/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/packagegroups/": {"get": {"operationId": "content_rpm_packagegroups_list", "summary": "List package groups", "description": "PackageGroup ViewSet.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.PackageGroupRead"}}}}}}, "tags": ["content: packagegroups"]}, "parameters": []}, "{package_group_href}": {"get": {"operationId": "content_rpm_packagegroups_read", "summary": "Inspect a package group", "description": "PackageGroup ViewSet.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.PackageGroupRead"}}}, "tags": ["content: packagegroups"]}, "delete": {"operationId": "content_rpm_packagegroups_delete", "summary": "Delete a package group", "description": "PackageGroup ViewSet.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["content: packagegroups"]}, "parameters": [{"name": "package_group_href", "in": "path", "description": "URI of Package Group. e.g.: /pulp/api/v3/content/rpm/packagegroups/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/packagelangpacks/": {"get": {"operationId": "content_rpm_packagelangpacks_list", "summary": "List package langpackss", "description": "PackageLangpacks ViewSet.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.PackageLangpacksRead"}}}}}}, "tags": ["content: packagelangpacks"]}, "parameters": []}, "{package_langpacks_href}": {"get": {"operationId": "content_rpm_packagelangpacks_read", "summary": "Inspect a package langpacks", "description": "PackageLangpacks ViewSet.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.PackageLangpacksRead"}}}, "tags": ["content: packagelangpacks"]}, "delete": {"operationId": "content_rpm_packagelangpacks_delete", "summary": "Delete a package langpacks", "description": "PackageLangpacks ViewSet.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["content: packagelangpacks"]}, "parameters": [{"name": "package_langpacks_href", "in": "path", "description": "URI of Package Langpacks. e.g.: /pulp/api/v3/content/rpm/packagelangpacks/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/packages/": {"get": {"operationId": "content_rpm_packages_list", "summary": "List packages", "description": "Define endpoint name which will appear in the API endpoint for this content type.\nFor example::\n    http://pulp.example.com/pulp/api/v3/content/rpm/packages/\n\nAlso specify queryset and serializer for Package.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "Filter results where name matches value", "required": false, "type": "string"}, {"name": "name__in", "in": "query", "description": "Filter results where name is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "name__ne", "in": "query", "description": "Filter results where name not equal to value", "required": false, "type": "string"}, {"name": "epoch", "in": "query", "description": "Filter results where epoch matches value", "required": false, "type": "string"}, {"name": "epoch__in", "in": "query", "description": "Filter results where epoch is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "epoch__ne", "in": "query", "description": "Filter results where epoch not equal to value", "required": false, "type": "string"}, {"name": "version", "in": "query", "description": "Filter results where version matches value", "required": false, "type": "string"}, {"name": "version__in", "in": "query", "description": "Filter results where version is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "version__ne", "in": "query", "description": "Filter results where version not equal to value", "required": false, "type": "string"}, {"name": "release", "in": "query", "description": "Filter results where release matches value", "required": false, "type": "string"}, {"name": "release__in", "in": "query", "description": "Filter results where release is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "release__ne", "in": "query", "description": "Filter results where release not equal to value", "required": false, "type": "string"}, {"name": "arch", "in": "query", "description": "Filter results where arch matches value", "required": false, "type": "string"}, {"name": "arch__in", "in": "query", "description": "Filter results where arch is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "arch__ne", "in": "query", "description": "Filter results where arch not equal to value", "required": false, "type": "string"}, {"name": "pkgId", "in": "query", "description": "Filter results where pkgId matches value", "required": false, "type": "string"}, {"name": "pkgId__in", "in": "query", "description": "Filter results where pkgId is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "checksum_type", "in": "query", "description": "Filter results where checksum_type matches value", "required": false, "type": "string"}, {"name": "checksum_type__in", "in": "query", "description": "Filter results where checksum_type is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "checksum_type__ne", "in": "query", "description": "Filter results where checksum_type not equal to value", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "sha256", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.PackageRead"}}}}}}, "tags": ["content: packages"]}, "post": {"operationId": "content_rpm_packages_create", "summary": "Create a package", "description": "Trigger an asynchronous task to create content,optionally create new repository version.", "parameters": [{"name": "artifact", "in": "formData", "description": "Artifact file representing the physical content", "required": false, "type": "string", "format": "uri"}, {"name": "relative_path", "in": "formData", "description": "Path where the artifact is located relative to distributions base_path", "required": true, "type": "string", "minLength": 1}, {"name": "file", "in": "formData", "description": "An uploaded file that may be turned into the artifact of the content unit.", "required": false, "type": "file"}, {"name": "repository", "in": "formData", "description": "A URI of a repository the new content unit should be associated with.", "required": false, "type": "string", "format": "uri"}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["content: packages"]}, "parameters": []}, "{package_href}": {"get": {"operationId": "content_rpm_packages_read", "summary": "Inspect a package", "description": "Define endpoint name which will appear in the API endpoint for this content type.\nFor example::\n    http://pulp.example.com/pulp/api/v3/content/rpm/packages/\n\nAlso specify queryset and serializer for Package.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.PackageRead"}}}, "tags": ["content: packages"]}, "parameters": [{"name": "package_href", "in": "path", "description": "URI of Package. e.g.: /pulp/api/v3/content/rpm/packages/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/content/rpm/repo_metadata_files/": {"get": {"operationId": "content_rpm_repo_metadata_files_list", "summary": "List repo metadata files", "description": "RepoMetadataFile Viewset.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_added", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "repository_version_removed", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.RepoMetadataFileRead"}}}}}}, "tags": ["content: repo_metadata_files"]}, "parameters": []}, "{repo_metadata_file_href}": {"get": {"operationId": "content_rpm_repo_metadata_files_read", "summary": "Inspect a repo metadata file", "description": "RepoMetadataFile Viewset.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.RepoMetadataFileRead"}}}, "tags": ["content: repo_metadata_files"]}, "delete": {"operationId": "content_rpm_repo_metadata_files_delete", "summary": "Delete a repo metadata file", "description": "RepoMetadataFile Viewset.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["content: repo_metadata_files"]}, "parameters": [{"name": "repo_metadata_file_href", "in": "path", "description": "URI of Repo Metadata File. e.g.: /pulp/api/v3/content/rpm/repo_metadata_files/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/distributions/rpm/rpm/": {"get": {"operationId": "distributions_rpm_rpm_list", "summary": "List rpm distributions", "description": "ViewSet for RPM Distributions.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name__in", "in": "query", "description": "Filter results where name is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "base_path", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "base_path__contains", "in": "query", "description": "Filter results where base_path contains value", "required": false, "type": "string"}, {"name": "base_path__icontains", "in": "query", "description": "Filter results where base_path contains value", "required": false, "type": "string"}, {"name": "base_path__in", "in": "query", "description": "Filter results where base_path is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.RpmDistributionRead"}}}}}}, "tags": ["distributions: rpm"]}, "post": {"operationId": "distributions_rpm_rpm_create", "summary": "Create a rpm distribution", "description": "Trigger an asynchronous create task", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmDistribution"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["distributions: rpm"]}, "parameters": []}, "{rpm_distribution_href}": {"get": {"operationId": "distributions_rpm_rpm_read", "summary": "Inspect a rpm distribution", "description": "ViewSet for RPM Distributions.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.RpmDistributionRead"}}}, "tags": ["distributions: rpm"]}, "put": {"operationId": "distributions_rpm_rpm_update", "summary": "Update a rpm distribution", "description": "Trigger an asynchronous update task", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmDistribution"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["distributions: rpm"]}, "patch": {"operationId": "distributions_rpm_rpm_partial_update", "summary": "Partially update a rpm distribution", "description": "Trigger an asynchronous partial update task", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmDistribution"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["distributions: rpm"]}, "delete": {"operationId": "distributions_rpm_rpm_delete", "summary": "Delete a rpm distribution", "description": "Trigger an asynchronous delete task", "parameters": [], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["distributions: rpm"]}, "parameters": [{"name": "rpm_distribution_href", "in": "path", "description": "URI of Rpm Distribution. e.g.: /pulp/api/v3/distributions/rpm/rpm/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/exporters/core/pulp/": {"get": {"operationId": "exporters_core_pulp_list", "summary": "List pulp exporters", "description": "ViewSet for viewing PulpExporters.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name__in", "in": "query", "description": "Filter results where name is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PulpExporterRead"}}}}}}, "tags": ["exporters: pulp"]}, "post": {"operationId": "exporters_core_pulp_create", "summary": "Create a pulp exporter", "description": "ViewSet for viewing PulpExporters.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PulpExporter"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PulpExporterRead"}}}, "tags": ["exporters: pulp"]}, "parameters": []}, "{pulp_exporter_href}": {"get": {"operationId": "exporters_core_pulp_read", "summary": "Inspect a pulp exporter", "description": "ViewSet for viewing PulpExporters.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PulpExporterRead"}}}, "tags": ["exporters: pulp"]}, "put": {"operationId": "exporters_core_pulp_update", "summary": "Update a pulp exporter", "description": "ViewSet for viewing PulpExporters.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PulpExporter"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PulpExporterRead"}}}, "tags": ["exporters: pulp"]}, "patch": {"operationId": "exporters_core_pulp_partial_update", "summary": "Partially update a pulp exporter", "description": "ViewSet for viewing PulpExporters.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PulpExporter"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PulpExporterRead"}}}, "tags": ["exporters: pulp"]}, "delete": {"operationId": "exporters_core_pulp_delete", "summary": "Delete a pulp exporter", "description": "ViewSet for viewing PulpExporters.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["exporters: pulp"]}, "parameters": [{"name": "pulp_exporter_href", "in": "path", "description": "URI of Pulp Exporter. e.g.: /pulp/api/v3/exporters/core/pulp/1/", "required": true, "type": "string"}]}, "{pulp_exporter_href}exports/": {"get": {"operationId": "exporters_core_pulp_exports_list", "summary": "List pulp exports", "description": "ViewSet for viewing exports from a PulpExporter.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PulpExportRead"}}}}}}, "tags": ["exporters: core exports"]}, "post": {"operationId": "exporters_core_pulp_exports_create", "summary": "Create a pulp export", "description": "Trigger an asynchronous task to export a set of repositories", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PulpExport"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["exporters: core exports"]}, "parameters": [{"name": "pulp_exporter_href", "in": "path", "description": "URI of Pulp Exporter. e.g.: /pulp/api/v3/exporters/core/pulp/1/", "required": true, "type": "string"}]}, "{pulp_export_href}": {"get": {"operationId": "exporters_core_pulp_exports_read", "summary": "Inspect a pulp export", "description": "ViewSet for viewing exports from a PulpExporter.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PulpExportRead"}}}, "tags": ["exporters: core exports"]}, "delete": {"operationId": "exporters_core_pulp_exports_delete", "summary": "Delete a pulp export", "description": "ViewSet for viewing exports from a PulpExporter.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["exporters: core exports"]}, "parameters": [{"name": "pulp_export_href", "in": "path", "description": "URI of Pulp Export. e.g.: /pulp/api/v3/exporters/core/pulp/1/exports/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/importers/core/pulp/": {"get": {"operationId": "importers_core_pulp_list", "summary": "List pulp importers", "description": "ViewSet for PulpImporters.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name__in", "in": "query", "description": "Filter results where name is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PulpImporterRead"}}}}}}, "tags": ["importers: pulp"]}, "post": {"operationId": "importers_core_pulp_create", "summary": "Create a pulp importer", "description": "ViewSet for PulpImporters.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PulpImporter"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PulpImporterRead"}}}, "tags": ["importers: pulp"]}, "parameters": []}, "{pulp_importer_href}": {"get": {"operationId": "importers_core_pulp_read", "summary": "Inspect a pulp importer", "description": "ViewSet for PulpImporters.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PulpImporterRead"}}}, "tags": ["importers: pulp"]}, "put": {"operationId": "importers_core_pulp_update", "summary": "Update a pulp importer", "description": "ViewSet for PulpImporters.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PulpImporter"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PulpImporterRead"}}}, "tags": ["importers: pulp"]}, "patch": {"operationId": "importers_core_pulp_partial_update", "summary": "Partially update a pulp importer", "description": "ViewSet for PulpImporters.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PulpImporter"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PulpImporterRead"}}}, "tags": ["importers: pulp"]}, "delete": {"operationId": "importers_core_pulp_delete", "summary": "Delete a pulp importer", "description": "ViewSet for PulpImporters.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["importers: pulp"]}, "parameters": [{"name": "pulp_importer_href", "in": "path", "description": "URI of Pulp Importer. e.g.: /pulp/api/v3/importers/core/pulp/1/", "required": true, "type": "string"}]}, "{pulp_importer_href}imports/": {"get": {"operationId": "importers_core_pulp_imports_list", "summary": "List pulp imports", "description": "ViewSet for PulpImports.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ImportRead"}}}}}}, "tags": ["importers: core imports"]}, "post": {"operationId": "importers_core_pulp_imports_create", "summary": "Create a pulp import", "description": "Trigger an asynchronous task to import a Pulp export.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PulpImport"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["importers: core imports"]}, "parameters": [{"name": "pulp_importer_href", "in": "path", "description": "URI of Pulp Importer. e.g.: /pulp/api/v3/importers/core/pulp/1/", "required": true, "type": "string"}]}, "{pulp_import_href}": {"get": {"operationId": "importers_core_pulp_imports_read", "summary": "Inspect a pulp import", "description": "ViewSet for PulpImports.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ImportRead"}}}, "tags": ["importers: core imports"]}, "delete": {"operationId": "importers_core_pulp_imports_delete", "summary": "Delete a pulp import", "description": "ViewSet for PulpImports.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["importers: core imports"]}, "parameters": [{"name": "pulp_import_href", "in": "path", "description": "URI of Pulp Import. e.g.: /pulp/api/v3/importers/core/pulp/1/imports/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/orphans/": {"delete": {"operationId": "orphans_delete", "summary": "Delete orphans", "description": "Trigger an asynchronous task that deletes allorphaned content and artifacts.", "parameters": [], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["orphans"]}, "parameters": []}, "/pulp/api/v3/publications/rpm/rpm/": {"get": {"operationId": "publications_rpm_rpm_list", "summary": "List rpm publications", "description": "ViewSet for Rpm Publications.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "repository_version", "in": "query", "description": "Repository Version referenced by HREF", "required": false, "type": "string"}, {"name": "pulp_created__lt", "in": "query", "description": "Filter results where pulp_created is less than value", "required": false, "type": "string"}, {"name": "pulp_created__lte", "in": "query", "description": "Filter results where pulp_created is less than or equal to value", "required": false, "type": "string"}, {"name": "pulp_created__gt", "in": "query", "description": "Filter results where pulp_created is greater than value", "required": false, "type": "string"}, {"name": "pulp_created__gte", "in": "query", "description": "Filter results where pulp_created is greater than or equal to value", "required": false, "type": "string"}, {"name": "pulp_created__range", "in": "query", "description": "Filter results where pulp_created is between two comma separated values", "required": false, "type": "string"}, {"name": "pulp_created", "in": "query", "description": "ISO 8601 formatted dates are supported", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.RpmPublicationRead"}}}}}}, "tags": ["publications: rpm"]}, "post": {"operationId": "publications_rpm_rpm_create", "summary": "Create a rpm publication", "description": "Trigger an asynchronous task to create a new RPM content publication.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmPublication"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["publications: rpm"]}, "parameters": []}, "{rpm_publication_href}": {"get": {"operationId": "publications_rpm_rpm_read", "summary": "Inspect a rpm publication", "description": "ViewSet for Rpm Publications.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.RpmPublicationRead"}}}, "tags": ["publications: rpm"]}, "delete": {"operationId": "publications_rpm_rpm_delete", "summary": "Delete a rpm publication", "description": "ViewSet for Rpm Publications.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["publications: rpm"]}, "parameters": [{"name": "rpm_publication_href", "in": "path", "description": "URI of Rpm Publication. e.g.: /pulp/api/v3/publications/rpm/rpm/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/remotes/rpm/rpm/": {"get": {"operationId": "remotes_rpm_rpm_list", "summary": "List rpm remotes", "description": "A ViewSet for RpmRemote.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name__in", "in": "query", "description": "Filter results where name is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "pulp_last_updated__lt", "in": "query", "description": "Filter results where pulp_last_updated is less than value", "required": false, "type": "string"}, {"name": "pulp_last_updated__lte", "in": "query", "description": "Filter results where pulp_last_updated is less than or equal to value", "required": false, "type": "string"}, {"name": "pulp_last_updated__gt", "in": "query", "description": "Filter results where pulp_last_updated is greater than value", "required": false, "type": "string"}, {"name": "pulp_last_updated__gte", "in": "query", "description": "Filter results where pulp_last_updated is greater than or equal to value", "required": false, "type": "string"}, {"name": "pulp_last_updated__range", "in": "query", "description": "Filter results where pulp_last_updated is between two comma separated values", "required": false, "type": "string"}, {"name": "pulp_last_updated", "in": "query", "description": "ISO 8601 formatted dates are supported", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.RpmRemoteRead"}}}}}}, "tags": ["remotes: rpm"]}, "post": {"operationId": "remotes_rpm_rpm_create", "summary": "Create a rpm remote", "description": "A ViewSet for RpmRemote.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmRemote"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/rpm.RpmRemoteRead"}}}, "tags": ["remotes: rpm"]}, "parameters": []}, "{rpm_remote_href}": {"get": {"operationId": "remotes_rpm_rpm_read", "summary": "Inspect a rpm remote", "description": "A ViewSet for RpmRemote.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.RpmRemoteRead"}}}, "tags": ["remotes: rpm"]}, "put": {"operationId": "remotes_rpm_rpm_update", "summary": "Update a rpm remote", "description": "Trigger an asynchronous update task", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmRemote"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["remotes: rpm"]}, "patch": {"operationId": "remotes_rpm_rpm_partial_update", "summary": "Partially update a rpm remote", "description": "Trigger an asynchronous partial update task", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmRemote"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["remotes: rpm"]}, "delete": {"operationId": "remotes_rpm_rpm_delete", "summary": "Delete a rpm remote", "description": "Trigger an asynchronous delete task", "parameters": [], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["remotes: rpm"]}, "parameters": [{"name": "rpm_remote_href", "in": "path", "description": "URI of Rpm Remote. e.g.: /pulp/api/v3/remotes/rpm/rpm/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/repositories/rpm/rpm/": {"get": {"operationId": "repositories_rpm_rpm_list", "summary": "List rpm repositorys", "description": "A ViewSet for RpmRepository.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name__in", "in": "query", "description": "Filter results where name is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/rpm.RpmRepositoryRead"}}}}}}, "tags": ["repositories: rpm"]}, "post": {"operationId": "repositories_rpm_rpm_create", "summary": "Create a rpm repository", "description": "A ViewSet for RpmRepository.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmRepository"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/rpm.RpmRepositoryRead"}}}, "tags": ["repositories: rpm"]}, "parameters": []}, "{rpm_repository_href}": {"get": {"operationId": "repositories_rpm_rpm_read", "summary": "Inspect a rpm repository", "description": "A ViewSet for RpmRepository.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/rpm.RpmRepositoryRead"}}}, "tags": ["repositories: rpm"]}, "put": {"operationId": "repositories_rpm_rpm_update", "summary": "Update a rpm repository", "description": "Trigger an asynchronous update task", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmRepository"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["repositories: rpm"]}, "patch": {"operationId": "repositories_rpm_rpm_partial_update", "summary": "Partially update a rpm repository", "description": "Trigger an asynchronous partial update task", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/rpm.RpmRepository"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["repositories: rpm"]}, "delete": {"operationId": "repositories_rpm_rpm_delete", "summary": "Delete a rpm repository", "description": "Trigger an asynchronous delete task", "parameters": [], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["repositories: rpm"]}, "parameters": [{"name": "rpm_repository_href", "in": "path", "description": "URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/", "required": true, "type": "string"}]}, "{rpm_repository_href}modify/": {"post": {"operationId": "repositories_rpm_rpm_modify", "summary": "Modify Repository Content", "description": "Trigger an asynchronous task to create a new repository version.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RepositoryAddRemoveContent"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["repositories: rpm"]}, "parameters": [{"name": "rpm_repository_href", "in": "path", "description": "URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/", "required": true, "type": "string"}]}, "{rpm_repository_href}sync/": {"post": {"operationId": "repositories_rpm_rpm_sync", "summary": "Sync from remote", "description": "Trigger an asynchronous task to sync RPM content.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RpmRepositorySyncURL"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["repositories: rpm"]}, "parameters": [{"name": "rpm_repository_href", "in": "path", "description": "URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/", "required": true, "type": "string"}]}, "{rpm_repository_href}versions/": {"get": {"operationId": "repositories_rpm_rpm_versions_list", "summary": "List repository versions", "description": "RpmRepositoryVersion represents a single rpm repository version.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "number", "in": "query", "description": "", "required": false, "type": "number"}, {"name": "number__lt", "in": "query", "description": "Filter results where number is less than value", "required": false, "type": "number"}, {"name": "number__lte", "in": "query", "description": "Filter results where number is less than or equal to value", "required": false, "type": "number"}, {"name": "number__gt", "in": "query", "description": "Filter results where number is greater than value", "required": false, "type": "number"}, {"name": "number__gte", "in": "query", "description": "Filter results where number is greater than or equal to value", "required": false, "type": "number"}, {"name": "number__range", "in": "query", "description": "Filter results where number is between two comma separated values", "required": false, "type": "number"}, {"name": "pulp_created__lt", "in": "query", "description": "Filter results where pulp_created is less than value", "required": false, "type": "string"}, {"name": "pulp_created__lte", "in": "query", "description": "Filter results where pulp_created is less than or equal to value", "required": false, "type": "string"}, {"name": "pulp_created__gt", "in": "query", "description": "Filter results where pulp_created is greater than value", "required": false, "type": "string"}, {"name": "pulp_created__gte", "in": "query", "description": "Filter results where pulp_created is greater than or equal to value", "required": false, "type": "string"}, {"name": "pulp_created__range", "in": "query", "description": "Filter results where pulp_created is between two comma separated values", "required": false, "type": "string"}, {"name": "content", "in": "query", "description": "Content Unit referenced by HREF", "required": false, "type": "string"}, {"name": "pulp_created", "in": "query", "description": "ISO 8601 formatted dates are supported", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/RepositoryVersionRead"}}}}}}, "tags": ["repositories: rpm versions"]}, "parameters": [{"name": "rpm_repository_href", "in": "path", "description": "URI of Rpm Repository. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/", "required": true, "type": "string"}]}, "{rpm_repository_version_href}": {"get": {"operationId": "repositories_rpm_rpm_versions_read", "summary": "Inspect a repository version", "description": "RpmRepositoryVersion represents a single rpm repository version.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RepositoryVersionRead"}}}, "tags": ["repositories: rpm versions"]}, "delete": {"operationId": "repositories_rpm_rpm_versions_delete", "summary": "Delete a repository version", "description": "Trigger an asynchronous task to delete a repositroy version.", "parameters": [], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["repositories: rpm versions"]}, "parameters": [{"name": "rpm_repository_version_href", "in": "path", "description": "URI of Repository Version. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/versions/1/", "required": true, "type": "string"}]}, "{rpm_repository_version_href}repair/": {"post": {"operationId": "repositories_rpm_rpm_versions_repair", "description": "Trigger an asynchronous task to repair a repositroy version.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RepositoryVersion"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["repositories: rpm versions"]}, "parameters": [{"name": "rpm_repository_version_href", "in": "path", "description": "URI of Repository Version. e.g.: /pulp/api/v3/repositories/rpm/rpm/1/versions/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/rpm/copy/": {"post": {"operationId": "copy_content", "summary": "Copy content", "description": "Trigger an asynchronous task to copy RPM contentfrom one repository into another, creating a newrepository version.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Copy"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["rpm: copy"]}, "parameters": []}, "/pulp/api/v3/signing-services/": {"get": {"operationId": "signing-services_list", "summary": "List signing services", "description": "A ViewSet that supports browsing of existing signing services.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SigningServiceRead"}}}}}}, "tags": ["signing-services"]}, "parameters": []}, "{signing_service_href}": {"get": {"operationId": "signing-services_read", "summary": "Inspect a signing service", "description": "A ViewSet that supports browsing of existing signing services.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SigningServiceRead"}}}, "tags": ["signing-services"]}, "parameters": [{"name": "signing_service_href", "in": "path", "description": "URI of Signing Service. e.g.: /pulp/api/v3/signing-services/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/status/": {"get": {"operationId": "status_read", "summary": "Inspect status of Pulp", "description": "Returns app information including the version of pulpcore and loaded pulp plugins,\nknown workers, database connection status, and messaging connection status", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Status"}}}, "tags": ["status"]}, "parameters": []}, "/pulp/api/v3/task-groups/": {"get": {"operationId": "task-groups_list", "summary": "List task groups", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/TaskGroupRead"}}}}}}, "tags": ["task-groups"]}, "parameters": []}, "{task_group_href}": {"get": {"operationId": "task-groups_read", "summary": "Inspect a task group", "description": "", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TaskGroupRead"}}}, "tags": ["task-groups"]}, "parameters": [{"name": "task_group_href", "in": "path", "description": "URI of Task Group. e.g.: /pulp/api/v3/task-groups/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/tasks/": {"get": {"operationId": "tasks_list", "summary": "List tasks", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter results where name contains value", "required": false, "type": "string"}, {"name": "state", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "state__in", "in": "query", "description": "Filter results where state is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "worker", "in": "query", "description": "Foreign Key referenced by HREF", "required": false, "type": "string"}, {"name": "worker__in", "in": "query", "description": "Filter results where worker is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "started_at__lt", "in": "query", "description": "Filter results where started_at is less than value", "required": false, "type": "string"}, {"name": "started_at__lte", "in": "query", "description": "Filter results where started_at is less than or equal to value", "required": false, "type": "string"}, {"name": "started_at__gt", "in": "query", "description": "Filter results where started_at is greater than value", "required": false, "type": "string"}, {"name": "started_at__gte", "in": "query", "description": "Filter results where started_at is greater than or equal to value", "required": false, "type": "string"}, {"name": "started_at__range", "in": "query", "description": "Filter results where started_at is between two comma separated values", "required": false, "type": "string"}, {"name": "finished_at__lt", "in": "query", "description": "Filter results where finished_at is less than value", "required": false, "type": "string"}, {"name": "finished_at__lte", "in": "query", "description": "Filter results where finished_at is less than or equal to value", "required": false, "type": "string"}, {"name": "finished_at__gt", "in": "query", "description": "Filter results where finished_at is greater than value", "required": false, "type": "string"}, {"name": "finished_at__gte", "in": "query", "description": "Filter results where finished_at is greater than or equal to value", "required": false, "type": "string"}, {"name": "finished_at__range", "in": "query", "description": "Filter results where finished_at is between two comma separated values", "required": false, "type": "string"}, {"name": "parent_task", "in": "query", "description": "Foreign Key referenced by HREF", "required": false, "type": "string"}, {"name": "child_tasks", "in": "query", "description": "Foreign Key referenced by HREF", "required": false, "type": "string"}, {"name": "task_group", "in": "query", "description": "Foreign Key referenced by HREF", "required": false, "type": "string"}, {"name": "reserved_resources_record", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "created_resources", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "started_at", "in": "query", "description": "ISO 8601 formatted dates are supported", "required": false, "type": "string"}, {"name": "finished_at", "in": "query", "description": "ISO 8601 formatted dates are supported", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/TaskRead"}}}}}}, "tags": ["tasks"]}, "parameters": []}, "{task_href}": {"get": {"operationId": "tasks_read", "summary": "Inspect a task", "description": "", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TaskRead"}}}, "tags": ["tasks"]}, "patch": {"operationId": "tasks_cancel", "summary": "Cancel a task", "description": "This operation cancels a task.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TaskCancel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Task"}}, "409": {"description": "", "schema": {"$ref": "#/definitions/Task"}}}, "tags": ["tasks"]}, "delete": {"operationId": "tasks_delete", "summary": "Delete a task", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["tasks"]}, "parameters": [{"name": "task_href", "in": "path", "description": "URI of Task. e.g.: /pulp/api/v3/tasks/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/uploads/": {"get": {"operationId": "uploads_list", "summary": "List uploads", "description": "View for chunked uploads.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "completed", "in": "query", "description": "ISO 8601 formatted dates are supported", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/UploadRead"}}}}}}, "tags": ["uploads"]}, "post": {"operationId": "uploads_create", "summary": "Create an upload", "description": "View for chunked uploads.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Upload"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UploadRead"}}}, "tags": ["uploads"]}, "parameters": []}, "{upload_href}": {"get": {"operationId": "uploads_read", "summary": "Inspect an upload", "description": "View for chunked uploads.", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UploadDetailRead"}}}, "tags": ["uploads"]}, "put": {"operationId": "uploads_update", "summary": "Upload a file chunk", "description": "Upload a chunk for an upload.", "parameters": [{"name": "file", "in": "formData", "description": "A chunk of the uploaded file.", "required": true, "type": "file"}, {"name": "sha256", "in": "formData", "description": "The SHA-256 checksum of the chunk if available.", "required": false, "type": "string", "minLength": 1, "x-nullable": true}, {"name": "Content-Range", "in": "header", "description": "The Content-Range header specifies the location of the file chunk within the file.", "required": true, "type": "string", "pattern": "^bytes (\\d+)-(\\d+)/(\\d+|[*])$"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Upload"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["uploads"]}, "delete": {"operationId": "uploads_delete", "summary": "Delete an upload", "description": "View for chunked uploads.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["uploads"]}, "parameters": [{"name": "upload_href", "in": "path", "description": "URI of Upload. e.g.: /pulp/api/v3/uploads/1/", "required": true, "type": "string"}]}, "{upload_href}commit/": {"post": {"operationId": "uploads_commit", "summary": "Finish an Upload", "description": "Queues a Task that creates an Artifact, and the Upload gets deleted and cannot be re-used.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UploadCommit"}}], "responses": {"202": {"description": "", "schema": {"$ref": "#/definitions/AsyncOperationResponse"}}}, "tags": ["uploads"]}, "parameters": [{"name": "upload_href", "in": "path", "description": "URI of Upload. e.g.: /pulp/api/v3/uploads/1/", "required": true, "type": "string"}]}, "/pulp/api/v3/workers/": {"get": {"operationId": "workers_list", "summary": "List workers", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name__in", "in": "query", "description": "Filter results where name is in a comma-separated list of values", "required": false, "type": "string"}, {"name": "last_heartbeat__lt", "in": "query", "description": "Filter results where last_heartbeat is less than value", "required": false, "type": "string"}, {"name": "last_heartbeat__lte", "in": "query", "description": "Filter results where last_heartbeat is less than or equal to value", "required": false, "type": "string"}, {"name": "last_heartbeat__gt", "in": "query", "description": "Filter results where last_heartbeat is greater than value", "required": false, "type": "string"}, {"name": "last_heartbeat__gte", "in": "query", "description": "Filter results where last_heartbeat is greater than or equal to value", "required": false, "type": "string"}, {"name": "last_heartbeat__range", "in": "query", "description": "Filter results where last_heartbeat is between two comma separated values", "required": false, "type": "string"}, {"name": "online", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "missing", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "last_heartbeat", "in": "query", "description": "ISO 8601 formatted dates are supported", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/WorkerRead"}}}}}}, "tags": ["workers"]}, "parameters": []}, "{worker_href}": {"get": {"operationId": "workers_read", "summary": "Inspect a worker", "description": "", "parameters": [{"name": "fields", "in": "query", "description": "A list of fields to include in the response.", "required": false, "type": "string"}, {"name": "exclude_fields", "in": "query", "description": "A list of fields to exclude from the response.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WorkerRead"}}}, "tags": ["workers"]}, "parameters": [{"name": "worker_href", "in": "path", "description": "URI of Worker. e.g.: /pulp/api/v3/workers/1/", "required": true, "type": "string"}]}}, "definitions": {"ArtifactRe
[...]
